<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>**MyWeb**</title>
    <link href = "{{url_for('static', filename='css/style_2.css')}}" rel="stylesheet">
</head>
<body>
    <center>
    <h1>🥑 HELLO FLASK 🥑</h1><hr>
    </center>
    <center>
    <p><h2>LIM SO-YOUNG HAS MANY NAMES<h2></p>
    <p><h3> ★ {{name}} ★ <br><br> THAT'S MY NAME!!</h3></p>
    </center>
        <center>
    <img src="{{url_for('static', filename='css/popcorn.png')}}">
    </center>
</body>
</html>