/*태그명 선택지*/
p{background-color:green; font-size:40px; border:5px dotted red; color:white}
/*아이디 선택자*/
#second_p {background-color:hotpink;}

*{color:red;}
/*클래스 속성 값이 동일한 부분에 적용*/
.para {background-color: dodgerblue}